<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- Metadata --}}
  <title>{{title}}</title>
  <meta name="description"
    content="An open API designed to provide an easy access to general information about the world's countries.">
  <meta name="keywords" content="countries, continents, languages, api, list">
  <meta name="author" content="d98c_sw">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="follow">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="google-adsense-account" content="ca-pub-6946846887524691">

  {{!-- Styles --}}
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/contact.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body>
  {{{body}}}
</body>

</html>